.gameCardOverview {
    min-width: 23vw;
    margin: 10px;
    padding: 2px;
    border: 2px #100a68d6;
    border-radius: 7px;
    text-align: center;
    background: linear-gradient(to right, #0b0d7628, #c9ccef1f);
    box-shadow: 0px 4px 10px rgba(44, 52, 100, 0.579);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
  }

  .game-check {
    color: #2b2b3c;
    font-weight: lighter;
  }

  .game-list-container {
    margin: 0px;
  }
  .game-list {
    margin: 0px;
    padding: 0px;
    font-size: 0.6em;
    color: #5315c6; /* Couleur du texte */
    text-decoration: none; /* Retirer la sous-ligne */
    font-weight: bold; /* Mettre le texte en gras */
}

.game-list:hover {
    color: #fba93d; /* Couleur du texte au survol */
}

  .gameCardOverview h3 {
    font-size: 2em;
  }

  .gameCardOverview p {
    font-size: 1.6em;
    margin: 5px
  }

  .add-button {
    text-align: center;
    padding-bottom: 5%;
  }

  .bottom-button {
    text-align: center;
    padding-bottom: 5%;
  }

.gameCardOverview:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

  .profileContainer {
    
    display: flex;
    flex-direction: row;
    flex: 0 1 29%;
    gap: 10px;  
    justify-content: center;
  }

img {
    max-width: 90%;
}

.header {
  display: flex;
}

.textHeader {
  margin-left: 5%;
  max-width: 50%;
  text-align: justify;
}

.logo{
  max-width: 300px;
  width: 30%;
  height: 30%;
}