nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 2, 41);
}

nav img {
    width:50px;
}

span {
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 15px;
    order: 1;
    
}

.nav-links a {
    text-decoration: none;
    font-weight: normal;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
    font-weight: bold;
}

.nav-links a:hover {
    color: #6f7af7;
    
}

.nav-links a.active {
    color: #6f7af7}

/* Responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .nav-links li.home {
        display: none; /* Cache l'élément "Home" sur les petits écrans */
    }

    .add-button {
        display: none;
    }

    .home {
        display: none;
    }

    .logout {
        display: none;
    }

    span {
        display: none;
    }

    .nav-links li.logo {
        display: block;
        order: 1; /* Le logo a un ordre de 1 */

    .nav-links li {
        margin: 5px 0;
    }

    nav img {
        width:50px;
        order: 0;
    }
}
}