:root{
  --primary-color: #ffd400;
  --secondary-color: #ffd400;
  --hover-color: #00ff11;
  --gradient-start: #ffd400;
  --gradient-end: #ffd400;
  --text-color: #ffd400;
  --background-color: #ffd400;
  }
  
  body {
    color: var(--text-color);
    background-color: var(--background-color);
     min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
